body {
    background-color: lightblue;
    font-family: sans-serif;
}

.bg-image {
    height: 50px;
    width: 50px;
    background-image: url('../img/spring-icon.png');
    background-size: cover;
}